body{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}

section{
    margin-bottom: 100px !Important;
}

.campoBusquedaGeneral{
    padding: 2px;
    margin: 0px;
    background-color: #605F61;
    border-color: #605F61;
    margin-right: 73px;
    width: 156px !Important;
    height: 32px !Important;
    display: inline-flex !Important;
}

.campoBusquedaGeneral input{
    border: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 80%;
    background-color: #605F61;
}

.campoBusquedaGeneral input.middle:focus {
    outline: none;
}

.campoBusquedaGeneral input::-webkit-input-placeholder { 
  color: white;
}

.campoBusquedaGeneral input::-moz-placeholder { 
      color: white;
}
.campoBusquedaGeneral input::-ms-input-placeholder {
  color: white;
}
.campoBusquedaGeneral input::-moz-placeholder { 
  color: white;
}

.campoBusquedaGeneral button{
    background-color: transparent;
    border: 0px;
}

.campoBusquedaGeneral button i{
    color: #4772B8;
}

.contenedorNavBusqueda{
    padding-right: 0px;
    padding-left: 0px; 
}

.formularioNav{
    padding: 0px !Important;
    margin: 0px !Important;
}

.social-top{
    display: -webkit-inline-box;
    padding: 0px;
    margin: 0px;
    list-style: none outside none;
    padding-right: 63px;
}

.social-top li{
    padding-top: 6%;
}

.social-top li img{
    padding-left: 4px;
}
/** FIN PRIMER NAVBAR*/

/**SEGUNDO Navbar*/
.imagen-logo{
    max-width: 200px !Important;
    padding: 2% !Important;
}

.navbarPrincipal{
    min-height: 98px !Important;
    margin-bottom: 0px !Important;
}
.nav > li{
    text-align: center;
    height: 98px;
    width: 82px;
}

.nav > li > a {
    padding: 0px;
    font-weight: 700;
    height: 100%;
    padding-top: 45%;
    font-size: 13pt;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    color: #fff !Important;
    background-color: #BA202E !Important;
}


.nav > li > a:hover{
    color: #fff !Important;
    background-color: #BA202E !Important;
}

.divContanctoNav{
    text-align: right;
    padding-right: 15px;
}

#telefonoContacto{
    font-weight: 300;
    font-size: 16pt;
}

#correoContacto{
     font-weight: 300;
    font-size: 12pt;
}

.logo_bpo{
    max-width: 260px !Important;
    padding: 0px !Important;
    padding-top: 0px !Important;
    padding-right: 0px !Important;
    padding-bottom: 0px !Important;
    padding-left: 0px !Important;
    margin: 0px !Important;
}

.enlaceDefault{
    color:#BA202E !Important;
    text-decoration: none !Important;
}

#contenedorNuestrosServicios{
    width: 100%;
    text-align: center;
    
}

.fusionSecciones{
    position: absolute;
    width: 100%;
}

.tituloNuestrosClientes{
    text-align:center;    
}

.tituloX1{
    font-size: 45pt;
    margin-bottom: 0px;
}

.tituloX2{
    font-size: 50pt;
    margin-bottom: 0px;
}

.tituloX4{
    font-size: 120pt;
    margin-bottom: 0px;
}

.tituloX3{
    line-height: 00.5;
    font-size: 70pt;   
}

.tLight{
    font-weight: 300;
}

.tBold{
    font-weight: 700;
}

.tBlanco{
    color: white;
}

.tNegro{
    color: black;
}

#sectionCarusel{
   /* width: 100%;   */
}

.contenedorImagen{
    text-align: center;
    padding: 5%;
}

.contenidoItem{
    text-align: center;
}

#contenedorListaServicios{
    margin-top: 5%;
}

.tituloDefault{
    font-size: 16pt;
    font-weight: 700;
    text-align: center !Important;
}

.boton{
    text-decoration: none !Important;
    padding: 1%;
    color: white;
    border-radius: 200px;
    font-size: 16pt;
    padding-right: 3%;
    padding-left: 3%;
    font-weight: 700;
    cursor: pointer;
}

.botonRojo{
    background-color: #BA202E;
    border: 3px solid #BA202E;
}

.botonTransparente{
    background-color: transparent;
    border: 2px solid white;
    font-size: 14pt !Important;

}

.botonRojo:hover{
    color: #4570b5;
    background-color: white;
    border: 3px solid #4570b5;
}

.botonTransparente:hover{
    background-color: white;
    border: 3px solid #4570b5;
    color: #4570b5;
}

.contenedorQuienesSomos{
    background-image: url('../imagenes/fondoQuienesSomosPequeno.jpg');
    padding: 2%;
    margin-right: 0px !Important;
}

.pTextoQuienesSomos{
    font-size: 13.5pt;
}

#pieceraPagina{
    margin-bottom: 100px !Important;
}

.noMargen{
    margin: 0px !Important;
}

.noPadding{
    padding: 0px !Important;
}

#contenedorLineasNegocio{
    width: 100%;
    text-align: center;
}

.itemLineaNegocio{
    text-align: center;
    padding: 5%;
}

.pLineaNegocio{
    font-size: 14pt;
}

.contenedorLineaNegocio{
    padding: 10px;
}

.contenedorLineaNegocio:hover{
    background-color: #BB202E;
    color: white;
    height: auto;
    cursor: pointer;
}

.sliderClientes{
    height: 250px;
}


.fondoAnchoCompleto{
    width: 100%;
}

.tituloBlog{
    float: right;
    padding-left: 20%;
    padding-right: 5%;
}
/*
.contenidoFunciones{
    width: 100%;
}

.imagenFunciones{
    width: 100%;
    position: absolute;
    padding-top: 30%;
    z-index: 1;
}
*/
.textoFunciones{
    width: 100%;
    z-index: 100;
    padding-left: 30px;
    font-size: 15pt;
    padding-top: 18%;
}

.fondoBaseBlog{

}

.imagenPosicionAbsoluta{
    position: absolute;
}

.fondoImagenContacto{
    background-image: url('../imagenes/fondoFormularioContacto.jpg')
}

.descripcionContactenos{
    font-size: 17pt;
    padding-bottom: 25px;
}

.campoFormularioContacto{
    height: 55px;
    font-size: 20pt;
    padding: 12px;
    font-weight: 300;
    font-style: italic;
}

.campoTextAreaFormulario{
    font-size: 20pt;
    padding: 12px;
    font-weight: 300;
    font-style: italic; 
    width: 100%;   
}


@media (max-width: 768px){
    
    .campoBusquedaGeneral{
        display: none !Important;
    }

    .divContanctoNav{
        text-align: center;
    }

    .formularioNav{
        text-align: center !Important;
    }

    .social-top{
        padding-right: 0px;
    }

    .nav > li{
        width: 100% !Important;
    }

    .nav > li > a {
        padding-top: 10%;
        padding-bottom: 10%;
    }

}


/*.navbar {
    margin-bottom: 0px !Important;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-brand{
	padding-left: 5% !Important;
    margin-right: 10% !Important;
    padding-top: 2% !Important;
}

.navbar {
    min-height: 80px !Important;
}

* {
    box-sizing: content-box;
 }

.nav > li > a {
    padding: 30px 15px !Important;
}




.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #fff !Important;
    background-color: #BA202E !Important;
}

.navbar-right {
    margin-right: 15px !Important;
}

.social-top i{
	color: white;
}

.enlaceDefault{
    color:#BA202E !Important;
    text-decoration: none !Important;
}


.formularioNav{
}

.navbar-brand > img {
    margin-right: auto !Important;
}

.carousel-indicators li{
    color: #BA202E;
    content: "• ";
}

@media (max-width: 768px){
    
    .campoBusquedaGeneral{
        display: none;
    }

    .divContanctoNav{
        text-align: center;
    }

    .formularioNav{
        text-align: center !Important;
    }
        
}
*/